<mat-toolbar color="primary">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
    id="btn-burguer-menu"
  >
    <mat-icon
      svgIcon="burguer-menu"
      aria-hidden="false"
      aria-label="burguer-menu"
    ></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button id="btn-menu-books" aria-label="Livros" mat-menu-item>
      Livros
    </button>
    <button
      id="btn-burguer-publishing-house"
      aria-label="Editoras"
      mat-menu-item
    >
      Editoras
    </button>
  </mat-menu>
  <div class="container">
    <a routerLink="/" class="title-link" >
      <title class="title" aria-label="title" routerLinkActive="router-link-active" >Livraria da Beatriz</title>
    </a>
    <!-- TODO: change class to id, and id for tests -->
  </div>
</mat-toolbar>
