.title {
  margin-top: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-content-container {
  display: flex;
  width: 50%;
  margin-left: 25%;
  flex-direction: column;
}

.form-image {
  display: flex;
  flex-direction: column;
  padding: 8px 0px 16px;
}

.form-image .form-label {
  margin-bottom: 8px;
}
