<div class="card-container" id="card-container">
  <mat-card class="card-content" id="card-content">
    <mat-card-header>
      <mat-card-title id="card-title">{{ truncatedTitle }}</mat-card-title>
    </mat-card-header>
    @if (book().image) {
      <img class="card-img-book" src={{book().image}}/>
    }
    @else {
      <app-book class="card-img-book" id="card-book-img"></app-book>
    }
    <mat-card-content>
      <p>
        <strong>Autor(a): </strong>
        <span id="card-author">{{ book().autor }}</span>
      </p>
      <p>
        <strong>Editora: </strong>
        <span id="card-publisher">{{ book().editora }}</span>
      </p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-button id="card-edit-button" (click)="onEdit()">
        Editar
      </button>
      <button mat-button id="card-delete-button" (click)="onDelete()">
        Deletar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
