.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-img-book {
  width: 90%;
  height: auto;
  margin-top: 2%;
  margin-left: 5%;
}

.card-actions{
  justify-content: space-around;
}
