.action-container {
  position: fixed;
  bottom:16px;
  right: 16px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-container .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
}
